body {
        background-image: url(Images/66-best-sneakers-001-15275042-main.webp);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
      }

#Kontakt {
  font-size: large;
  color: blueviolet;
}

#produkter {
font-size: large;
color: blueviolet;
}

#name-echostep {
  font-size: 30px;
}

#echostep {
  width: 150px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#name-aeroflex {
  font-size: 30px;
}

